.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box0 {
    width: 160px;
    height: 60px;
    background-color: white;
    margin-right: 20px;
    display:  flex;
    align-items: center;
    justify-content: space-evenly;
}

.box1 {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
}

.main {
    width: 400px;
    display: flex;
}

.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    display: flex;
    flex-direction: column;
}

.box2 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid white;
    margin-left: 40px;
    margin-bottom: 10px;
}

.box2:first-child {
    margin-top: 40px;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}


/* for mobile */
@media screen and (max-width: 479px) {
.header {
    width: 200px;
    height: auto;
/*    height: 220px;    */
}

.box0 {
    width: 60px;
    height: 160px;
    margin: 20px 70px;
    flex-direction: column;
}

.main {
    width:  200px;
    flex-direction: column;
}

.left {
    width: 200px;
}

.right {
    width: 200px;
    height: inherit;
}

.box2 {
    margin-left: 30px;
}

.box2:first-child {
    margin-top: 20px;
}

.box2:last-child {
    margin-bottom: 20px;
}

.footer {
    width: 200px;
}
}

    